$background-color: #F2EFE9;
$primary-color: #564E58;
$secondary-color: #810E1B;

body
{
    background-color: $background-color;
}

.container {
    display: block;
    background-color: $secondary-color;
    width: 1200px;
    min-height: 200px;
}