@model IEnumerable<KOM_P.Controllers.CheckoutController.CheckoutViewModel>

@{
    ViewData["Title"] = "Dziękujemy za zakup";
}

<h1 style="text-align:center">Dziękujemy za zakupy w naszym sklepie!</h1>

<br /><br />
<h4 style="text-align:center">Zespół PanDa3 - bardzo ładnie Pana prosimy</h4>